.hero {
    background-color: #F0F0F0;
}

#projects {
    text-align: center;
}

.footer_text {
    font-size: 75%;
}

.load-article-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
